doctype html
html(lang='en')
  head
    meta(name="description", content=page.description)
    link(rel="stylesheet", href="/assets/styles/skeleton.css")
    link(rel="stylesheet", href="/assets/styles/styles.css")
    title Example Website - #{page.title}
body
  div.container
    div.three.columns
      !=template('menu', root)
    div.six.columns
      !=template('body')
    div.three.columns
      !=template('related')
